@model Employee

<h2>Delete Employee</h2>

<form class="row g-3" method="post" asp-action="Delete">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" disabled class="form-control">
        <span asp-validation-for="Name" Class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Email" disabled class="form-control">
        <span asp-validation-for="Address" Class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Email" disabled class="form-control">
        <span asp-validation-for="Phone" Class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" disabled class="form-control">
        <span asp-validation-for="Email" Class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for=Gender class="form-label"></label>
        <select class="form-select" disabled asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
        </select>
        <span asp-validation-for="Gender" Class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for=JoinDate class="form-label"></label>
        <input asp-for=JoinDate disabled class="form-control">
        <span asp-validation-for="JoinDate" Class="text-danger"></span>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-primary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@*Client Side Validation
*@ 
@section scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}